* {
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	margin: 0 auto;
	background-color: #619b8a;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

h1 {
	font-size: 5rem;
	margin-bottom: 5rem;
	color: #ff9b54;
}

.diceContainer {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.playerOne {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ff9b54;
}

.playerTwo {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ff9b54;
}